.gamepage {
   padding: 1.6rem;
}
.table {
   width: 100%;
   align-items: center;
   max-width: 400px;
   &__points {
      display: block;
      width: 100%;
      // max-width: 3rem;
      // padding: 0.1rem 0.3rem;
   }
   tr,
   th,
   td {
      padding: 0.7rem;
      &:not(:last-child),
      &:not(:first-child) {
         border-right: 1px solid black;
      }
      &:first-child {
         border-right: 1px solid white;
      }
      &:last-child {
         border-right: 1px solid white;
      }
   }
   th {
      font-size: 1.3rem;
      line-height: 1;
      &:not(:first-child) {
         border-bottom: 1px solid black;
      }
   }
}
.button_calculate {
   width: 100%;
}
