.wavy {
   position: relative;
   width: 100%;
   height: 20px;
   overflow-x: hidden;
   padding-bottom: 1rem;
   &::before {
      content: 'aaaaaaaaaaaa';
      position: absolute;
      top: -80px;
      left: 0;
      font-size: 4em;
      color: transparent;
      text-decoration-style: wavy;
      text-decoration-color: black;
      text-decoration-line: underline;
      animation: animate 2s linear infinite;
   }
}

@keyframes animate {
   0% {
      transform: translateX(-1px);
   }
   100% {
      transform: translateX(-56px);
   }
}
